<!DOCTYPE html>
<html>
<head>
    <title>Attendance History</title>
</head>
<body>

<h1>Attendance History</h1>

<h3>Welcome {{ fullname }}</h3>

<table border="1" cellpadding="8">

<tr>
    <th>Subject Code</th>
    <th>Subject</th>
    <th>Professor</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
</tr>

{% for row in records %}

<tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
    <td>{{ row[5] }}</td>
</tr>

{% endfor %}

</table>

<br>

<a href="/dashboard">
<button>Back to Dashboard</button>
</a>

</body>
</html>